<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <appSettings>
    <add key="SatId" value="1" />
    <add key="SatName" value="sat" />
    <add key="ServerPort" value="61015" />
    <add key="LastTelemetryId" value="2282" />
    <add key="LastCommandId" value="1001" />
    <add key="StorageLocation" value="AlternativeStorage\" />
    <add key="CommandFormsLocation" value="CommandForms\" />
    <add key="MissionInformationLocation" value="./MIB.xml" />
  </appSettings>
</configuration>
