
  .sidebar {
    margin: 0;
    padding: 0;
    background-color: #343a40;
    position: fixed;
    height: 100%;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #343a40;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #343a40;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  div.container{
    margin-left: 400px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  
  .caret{
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: #343a40;
    position: fixed;
    height: 100%;
  }
  
  .collumn
  {
    float: left;
    padding: 10px;
    height: 200px;
  }
  
  .content
  {
    display: table;
    clear: both;
  }