<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image" href="{{ url_for('static',filename='icon.png') }}">
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
    <meta name="jinBeacon" content="{{ beacon }}" />
    <meta name="jinUnits" content="{{ units }}" />
    <meta name="jinOptions" content="{{ options }}" />
    <meta name="jinDispOrder" content="{{ dispOrder }}">
    <meta name="jinParamNames" content="{{ readableNames }}">
    <style>
        header,
        main,
        footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {

            header,
            main,
            footer {
                padding-left: 0;
            }
        }


        ::placeholder {
            color: #fff;
        }
    </style>
    <script src="/static/js/side_bar.js"></script>
    <title>Beacons</title>
</head>

<body class="indigo darken-1">

    <ul id="slide-out" class="sidenav sidenav-fixed light-blue lighten-3">
        <li style="margin-top: 20px;" class="logo center-align">
            <img id="logoImage" src="/static/logo/logo.png" class="brand-logo" height="200" width="200">
        </li>
        <li>
            <div style="margin-left: 30px; margin-right: 30px;" class="input-field">
                <input id="dump-seacrh" placeholder="Telemetry Name" class="autocomplete">
                <label for="dump-seacrh" class="active">Dump</label>
                <a class="waves-effect waves-light btn-small" onclick="searchDump('dump-seacrh')"><i
                        class="material-icons left">search</i> Search Dump</a>
            </div>
        </li>
        <li onclick="navChange(this)"><a href="/commands">Commands</a></li>
        <li onclick="navChange(this)" class="active"><a href="/beacon">Beacons</a></li>
        <li onclick="navChange(this)"><a href="/logs">Logs</a></li>
        <li onclick="navChange(this)"><a href="/graphForm">Graphs</a></li>
        <li onclick="navChange(this)"><a href="/acks">Acks</a></li>
		<li onclick="navChange(this)"><a href="/login">Login<span class="new badge right yellow darken-3"></span></a></li>
        <li><i><a id="userStatus">You are not logged in. </a><i></li>


    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large"><i
            class="material-icons">menu</i></a>

    <h2 class="center-align white-text">Beacons</h2>
    <main id="main"></main>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script src="/static/js/beaocn.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
		var config = {
        apiKey: "AIzaSyDQWbidUuP-2zwyCsV9w3ylRnBRi2et_Zk",
        authDomain: "gsc-gui.firebaseapp.com",
        databaseURL: "https://gsc-gui.firebaseio.com",
        storageBucket: "bucket.appspot.com"
		};
		firebase.initializeApp(config);
		function initUser() {
			NOT_LOGGED = "You are not loggin in. Please <u><a href=\"/login\">login</a></u>";
			LOGGED = "Logged as ";
			LOGOUT = " <u><a onclick=\"logout()\" href=\"/login\">Logout</a><u>";

			userStatus = document.getElementById("userStatus");
			firebase.auth().onAuthStateChanged((user) => {
				if (user != null) {
					uid = user.uid;
					if (user.displayName == null) {
						userStatus.innerHTML = LOGGED + "Anonymous.";
					}
					else {
						userStatus.innerHTML = LOGGED + user.displayName;
						if(user.photoURL != null){
							logoImage = document.getElementById("logoImage");
							logoImage.setAttribute('src', user.photoURL);
						}
					}
					userStatus.innerHTML += LOGOUT;
				}
				else {
					userStatus.innerHTML = NOT_LOGGED;
				}
				console.log(user);
			});
		}
		initUser();
		function logout()
		{
			firebase.auth().signOut();
		}
    </script>
</body>

</html>