<!DOCTYPE html>
<html>
<!--Import all css, and images-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/materialize.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='GUI.css') }}">
<link rel="icon" type="image" href="{{ url_for('static',filename='icon.png') }}">
<!--Import datetime-->



<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/flatly/bootstrap.min.css">
    <title>Commands</title>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/static/js/side_bar.js"></script>
    <style>
        header,
        main,
        footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {

            header,
            main,
            footer {
                padding-left: 0;
            }
        }


        ::placeholder {
            color: #fff;
        }
    </style>

</head>

<body class="indigo darken-1">

    <ul id="slide-out" class="sidenav sidenav-fixed light-blue lighten-3">
        <li class="logo center-align">
            <img src="/static/logo/logo.png" class="brand-logo" height="200" width="200">
        </li>
        <li>
            <div style="margin-left: 30px; margin-right: 30px;" class="input-field">
                <input id="dump-seacrh" placeholder="Telemetry Name" class="autocomplete">
                <label for="dump-seacrh" class="active">Dump</label>
                <a class="waves-effect waves-light btn-small" onclick="searchDump('dump-seacrh')"><i
                        class="material-icons left">search</i> Search Dump</a>
            </div>
        </li>
        <li onclick="navChange(this)" class="active"><a href="/commands">Commands</a></li>
        <li onclick="navChange(this)"><a href="/beacon">Beacons</a></li>
        <li onclick="navChange(this)"><a href="/logs">Logs</a></li>
        <li onclick="navChange(this)"><a href="/graphForm">Graphs</a></li>
    </ul>

    <a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large"><i
            class="material-icons">menu</i></a>


    <!--Command list body(command table)-->
    <main>
        <div class="white-text" bgcolor="#07224f" id="listBody">
            <!--Search inputs-->
            <input type="" id="nameInput" class="nameInput " onkeyup="searchNames()" placeholder="Search for names.."
                title="Type in a name">
            <input type="" id="numberInput" class="nameInput " onkeyup="searchNumbers()"
                placeholder="Search for ordered pair.." title="Type in an ordered pair">
            <br />
            <!--Command table-->
            <div id="commandsContainer" class="commandsContainer">

                <!--Headers, names-->
                <div class="row commandsTitle">
                    <div class="column unselectable">Command</div>
                    <div class="column unselectable">Command number</div>
                </div>


                <!--Push command info to table, each cell contains command with type, subtype and name.-->
                <!--Onclick add query variable to the end-->
                {% for commandName in commandNames %}
                <div class="row"
                    onclick="showParams(true); let type = parseJinja('{{commandNumbers[commandNames.index(commandName)]}}');generateInputs(type[0],type[1],this.getAttribute('value'));thisCommand=this;"
                    id="{{commandNumbers[commandNames.index(commandName)]}}">
                    <!--onclick="location.href = '?{{commandNumbers[commandNames.index(commandName)]}}'">-->
                    <div class="column unselectable">{{commandName}}</div>
                    <div class="column unselectable">{{commandNumbers[commandNames.index(commandName)]}}</div>
                </div>
                {% endfor %}
            </div>


            <div id="playlistContainer" class="playlistContainer">
                <div class="row commandsTitle" value="HEADER">
                    <div class="column unselectable">Command</div>
                    <div class="column unselectable">Command number</div>
                </div>
            </div>
            <button class="btn" onclick="sendPlaylist()">Send!</button>
            <button class="btn" onclick="emptyPlaylist()">Empty!</button>
            <input style="margin: 10px;" type="" id="playlistName" class="nameInput" placeholder="Playlist's name"
                title="Type in a name">
            <button class="btn"
                onclick="savePlaylist(document.getElementById('playlistName').value, playlist)">Save!</button>
            <select style="margin-bottom: 16px;" class="select-css" id="playlistNameOptions">
            </select>
            <button class="btn"
                onclick="getPlaylist(options.options[options.selectedIndex].innerHTML,playlist)">Get!</button>

            <button class="btn"
                onclick="deletePlaylist(options.options[options.selectedIndex].innerHTML)">Delete!</button>

            <div class="card indigo darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Control Panel</span>
                    <button class="btn" id="dummyFunc" onclick="">Send dummy funcs</button>
                    <p>How many Dummy Funcs?</p>
                    <input type="number" id="dummyFuncNum" min="0" max="255" value="1" class="white-text">
                </div>
            </div>
        </div>



        </div class="white-text">
        <div id="commandBody" style="display:none">
            <a href="#" class="sendButton" onclick="sendCommand()">Send Packet</a>
            <a href="#" class="addToPlaylistButton" onclick="addToPlaylist()" id="playlistButton">Add To
                Playlist</a>

        </div>
    </main>
</body>


<!-- Firebase modules -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>


<script>
    var playlistsNames = [];
    var lastPacket = null;
    var st = 0
    var sst = 0;
    var thisCommand = null;
    var datetimeCounter = 0;
    var debug = "{{DEBUG}}";
    console.log("DEBUG: " + debug);

    var regex = new RegExp();
    var results = regex.exec(location.search);
    if (results.input.search("packet") != -1) {
        window.location.assign("?");
        if (results.input.search("playlist")) {
            alert("This packet is going to playlist");
        }
    }
    results = results.input.replace("?", "");
    results = results.replace("(", "");
    results = results.replace(")", "");
    results = results.replace("&", ",");
    results = results.split(",");
    if (isInteger(results[0]) && isInteger(results[1])) {
        alert("yes");
        showParams(true);
        if (results.length == 3 && results[2] == "playlist") {
            alert("Playlist");

        }
        else {
            document.getElementById("playlistButton").setAttribute("style", "display:none");
        }
    }

    function showParams(show) {
        if (show) {
            document.getElementById("listBody").setAttribute("style", "display:none");
            document.getElementById("commandBody").setAttribute("style", "");
        }
        else {
            document.getElementById("listBody").setAttribute("style", "");
            document.getElementById("commandBody").setAttribute("style", "display:none");
        }
    }

    function writePacket(st, sst, params, execTime) {
        var packet = "{\"Type\":\"Telecommand\", \"Content\":";

        packet += "{\"ST\":\"" + st + "\",\"SST\":\"" + sst + "\"" + ",\"ExecutionTime\":\"" + execTime[1] + "\",\"Params\":{";
        for (var i = 0; i < params.length - 1; i++) {
            var arr = params[i];
            packet += "\"" + arr[0] + "\":\"" + arr[1] + "\",";

        }

        if (params.length > 0) {
            var arr = params[params.length - 1];
            packet += "\"" + arr[0] + "\":\"" + arr[1] + "\"";
        }


        packet += "}}}";
        return packet;
    }
    function clearInputs() {
        var body = document.getElementById("commandBody");
        var bodyChildren = body.children;
        var length = bodyChildren.length;
        for (var i = 0; i < bodyChildren.length; i++) {
            if (bodyChildren[i].tagName == "DIV") {
                bodyChildren[i].parentNode.removeChild(bodyChildren[i]);
                i--;
            }
        }
    }
    function isInteger(str) {
        var n = Math.floor(Number(str));
        return n !== Infinity && String(n) === str && n >= 0;
    }

    function sendCommand() {
        alert("Send command");
        var inputParams = document.getElementsByClassName("paramsInput");
        var params = [];
        for (var i = 0; i < inputParams.length; i++) {
            var param = [];
            param.push(inputParams[i].parentElement.getAttribute("paramName"));
            let value = inputParams[i].value;
            if (inputParams[i].parentElement.getAttribute("paramName") === "Execution Time") {
                if (inputParams[i].parentElement.getElementsByClassName("checkbox")[0].checked)
                    value = '01/01/1970 01:01:01';
                else
                    value = decodeDateTime(value);
            }
            else if (inputParams[i].type === "datetime-local")
                value = decodeDateTime(value);
            param.push(value);
            params.push(param);
        }
        let execTime = params.pop();
        var packet = writePacket(st, sst, params, execTime);
        sendPacket(packet, true, null);
    }

    function addToPlaylist() {
        alert("Command added");
        var inputParams = document.getElementsByClassName("paramsInput");
        var params = [];
        for (var i = 0; i < inputParams.length; i++) {
            var param = [];
            param.push(inputParams[i].parentElement.getAttribute("paramName"));
            let value = inputParams[i].value;
            if (inputParams[i].parentElement.getAttribute("paramName") === "Execution Time") {
                if (inputParams[i].parentElement.getElementsByClassName("checkbox")[0].checked)
                    value = '01/01/1970 01:01:01';
                else
                    value = decodeDateTime(value);
            }
            else if (inputParams[i].type === "datetime-local")
                value = decodeDateTime(value);

            param.push(value);
            params.push(param);
        }
        let execTime = params.pop();
        var packet = writePacket(st, sst, params, execTime);
        sendPacket(packet, false, thisCommand);
    }


    function sendPacket(packets, isNow, div) {
        showParams(false);
        if (isNow) {
            //window.location.assign("?packet=[" + packets.toString() + "]");
            lastPacket = packets.toString();
            ajaxSendPacket("?packet=[" + packets.toString() + "]")
            // Change URL to add query variable of (writePacket()).
        }
        else {
            let child = div.firstElementChild.firstElementChild || div.firstElementChild;
            let text = child.innerHTML;
            let params = objToString(JSON.parse(packets).Content.Params);
            params += `Execution time: ${JSON.parse(packets).Content.ExecutionTime}`;
            div.firstElementChild.innerHTML = `<abbr title="${params}">${text}</abbr>`;
            div.setAttribute("value", packets);
        }
    }

    function ajaxSendPacket(url) {
        $.ajax({
            type: "POST",
            url: `/commands${url}`,
            data: {}
        })
    }

    function searchNames() {
        var input, filter, table, trDiv, tdDiv, i, txtValue;
        input = document.getElementById("nameInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("commandsContainer");
        trDiv = table.getElementsByTagName("div");
        for (i = 1; i < trDiv.length; i++) {
            tdDiv = trDiv[i].getElementsByTagName("div")[0];
            if (tdDiv) {
                txtValue = tdDiv.textContent || tdDiv.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    trDiv[i].style.display = "";
                } else {
                    trDiv[i].style.display = "none";
                }
            }
        }
    }
    function searchNumbers() {
        var input, filter, table, trDiv, tdDiv, i, txtValue;
        input = document.getElementById("numberInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("commandsContainer");
        trDiv = table.getElementsByTagName("div");
        for (i = 1; i < trDiv.length; i++) {
            tdDiv = trDiv[i].getElementsByTagName("div")[1];
            if (tdDiv) {
                txtValue = tdDiv.textContent || tdDiv.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    trDiv[i].style.display = "";
                } else {
                    trDiv[i].style.display = "none";
                }
            }
        }
    }
    function validate(evt, type) {
        var theEvent = evt || window.event;
        switch (type) {
            case ("uint"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }

                if (parseInt(theEvent.target.value) >= Number.MAX_SAFE_INTEGER) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
            case ("int"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9\-]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }

                if (parseInt(theEvent.target.value) >= Number.MAX_SAFE_INTEGER) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
            case ("float"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9\.]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }

                if (parseFloat(theEvent.target.value) >= Number.MAX_SAFE_INTEGER) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
            case ("char"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }
                if (parseInt(theEvent.target.value + theEvent.key) > 255) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
        }
    }
    function init() {
        searchNames();
        searchNumbers();
    }
    paramNames = [];
    {% for param in paramNames %}
    var commandParamNames = [];
    {% for name in param %}
    commandParamNames.push("{{name}}");
    {% endfor %}
    paramNames.push(commandParamNames);
    {% endfor %}

    paramTypes = [];
    {% for types in paramTypes %}
    commandParamTypes = [];
    {% for type in types %}
    commandParamTypes.push("{{type}}");
    {% endfor %}
    paramTypes.push(commandParamTypes);
    {% endfor %}

    paramUnits = [];
    {% for units in paramUnits %}
    commandParamUnits = [];
    {% for unit in units %}
    commandParamUnits.push("{{unit}}");
    {% endfor %}
    paramUnits.push(commandParamUnits);
    {% endfor %}
    commandNames = [];
    var dic = {};
    {% for commandName in commandNames %}
    commandNames.push("{{commandName}}");
    dic["{{commandNumbers[commandNames.index(commandName)]}}"] = "{{commandName}}";
    {% endfor %}

    Object.keys(dic).forEach(function (key) {
        if (dic[key] == "DummyFunc") {
            console.log(dic[key]);
            var btn = document.getElementById("dummyFunc");
            key = key.replace('(', '').replace(')', '');
            var st = key.split(',')[0];
            var sst = key.split(',')[1];
            btn.setAttribute("onclick", `sendDummyFuncs(${st},${sst})`);
        }
    });

    function sendDummyFuncs(st, sst) {
        const howMany = document.getElementById("dummyFuncNum").value;

        for (let i = 0; i < howMany; i++) {
            $.ajax({
                type: "POST",
                url: `/commands?packet=[{"Type":"Telecommand", "Content":{"ST":"20","SST":"122","ExecutionTime":"01/01/1970 01:01:01","Params":{}}}]`,
                data: {}
            });
        }
        alert("Dummy Funcs were sent!")

    }

    function generateInput(type, paramName, paramUnit, placeholder) {
        if (!placeholder) placeholder = "";

        var inputContainer = document.createElement("div");
        inputContainer.setAttribute("style", "position:relative");
        inputContainer.setAttribute("name", "paramInput");
        inputContainer.setAttribute("paramName", paramName);
        inputContainer.setAttribute("class", "white-text");

        var inputInfo = document.createElement("div");
        inputInfo.innerHTML = paramName + ((paramUnit == "None") ? " " : " In " + paramUnit) + ":";
        inputContainer.appendChild(inputInfo);

        var body = document.getElementById("commandBody");

        var uintInput = document.createElement("input");
        //intInput.setAttribute("type", "numbers");
        uintInput.setAttribute("onkeypress", "validate(event, \"uint\")");
        uintInput.setAttribute("class", "paramsInput");

        var intInput = document.createElement("input");
        //intInput.setAttribute("type", "numbers");
        intInput.setAttribute("onkeypress", "validate(event, \"int\")");
        intInput.setAttribute("class", "paramsInput");

        var floatInput = document.createElement("input");
        //intInput.setAttribute("type", "numbers");
        floatInput.setAttribute("onkeypress", "validate(event, \"float\")");
        floatInput.setAttribute("class", "paramsInput");

        var charInput = document.createElement("input");
        charInput.setAttribute("onkeypress", "validate(event, \"char\")");
        charInput.setAttribute("class", "paramsInput");

        var stringInput = document.createElement("input");
        stringInput.setAttribute("class", "paramsInput movingLable");
        stringInput.setAttribute("style", "color: white");

        var datetimeInput = document.createElement("input");
        datetimeInput.setAttribute("type", "datetime-local");
        datetimeInput.setAttribute("step", "1");
        datetimeInput.setAttribute("class", "paramsInput datetime");

        let dumpType = document.createElement("select");
        dumpType.className = "paramsInput browser-default"
        dumpType.style = "color: Black"
        dumpType.innerHTML = `
            <option value=0>0 ACK</option>
            <option value=1>1 log file events</option>
            <option value=2>2 log file errors</option>
            <option value=18>18 This is not the file you are looking for</option>
            <option value=50>50 EPS_HK</option>
            <option value=51>51 COMM_HK</option>
            <option value=52>52 Camera_HK</option>
            <option value=53>53 Solar Panel_HK</option>
            <option value=54>54 empty</option>
            <option value=55>55 EPS_1</option>
            <option value=56>56 EPS_2</option>
            <option value=57>57 EPS_3</option>
            <option value=58>58 EPS_4</option>
            <option value=59>59 EPS_5</option>
            <option value=60>60 EPS_6</option>
            <option value=61>61 EPS_7</option>
            <option value=62>62 EPS_8</option>
            <option value=63>63 COMM_1</option>
            <option value=64>64 COMM_2</option>
            <option value=65>65 COMM_3</option>
            <option value=66>66 COMM_4</option>
            <option value=67>67 ant_A_1</option>
            <option value=68>68 ant_A_2</option>
            <option value=69>69 ant_A_3</option>
            <option value=70>70 ant_B_1</option>
            <option value=71>71 ant_B_2</option>
            <option value=72>72 ant_B_3</option>
            <option value=73>73 file system A</option>
            <option value=74>74 file system B</option>
            <option value=140>140 Current Unix Time</option>
            <option value=146>146 Estimated Angles</option>
            <option value=147>147 Estimated Angular Rates</option>
            <option value=150>150 Satellite position</option>
            <option value=151>151 Magnetic Field From Magnetometer</option>
            <option value=152>152 Coarse Sun Sensor Vector</option>
            <option value=153>153 Fine Sun Sensor Vector</option>
            <option value=155>155 Rate Sensor Measurements</option>
            <option value=156>156 Y-Wheel Speed</option>
            <option value=157>157 Magnetotorquer Commands</option>
            <option value=168>168 Raw CSS Vector 1-6</option>
            <option value=169>169 Raw CSS Vector 7-10</option>
            <option value=170>170 Raw Magnetometer Measurements</option>
            <option value=172>172 CubeControl Currents</option>
            <option value=190>190 ADCS State Vector And Errors</option>
            <option value=193>193 Estimated MeteData</option>
            <option value=195>195 ADCS Power Temperatures</option>
            <option value=198>198 ADCS Miscellaneous Currents</option>
        `
        if (paramName.search("file type") !== -1) {
            for (const option of dumpType) {
                if (option.value == placeholder) {
                    option.setAttribute("selected", "selected");
                }
            }
            inputContainer.appendChild(dumpType);
        }
        else {
            switch (type) {
                case ("uint16"):
                    uintInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(uintInput);
                    break;

                case ("int16"):
                    intInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(intInput);
                    break;

                case ("uint32"):
                    uintInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(uintInput);
                    break;

                case ("float"):
                    floatInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(floatInput);
                    break;

                case ("double"):
                    floatInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(floatInput);
                    break;

                case ("string"):
                    stringInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(stringInput);
                    break;

                case ("byte"):
                    charInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(charInput);
                    break;

                case ("bitmap"):
                    charInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(charInput);
                    break;

                case ("dateTime"):
                    let checked = ''
                    if (placeholder === '01/01/1970 01:01:01') {
                        checked = 'checked';
                        datetimeInput.setAttribute("disabled", "disabled");
                    }
                    if (placeholder == "") placeholder = encodeDateTime(getCurrentDate());
                    else placeholder = encodeDateTime(placeholder);

                    //inputInfo.innerHTML += " <em><strong>MM/DD/YYYY hh:mm:ss</strong></em>"

                    datetimeInput.setAttribute("value", placeholder);

                    inputContainer.appendChild(datetimeInput);

                    if (paramName === "Execution Time") {
                        inputContainer.innerHTML += `<label>
                                                    <input class="checkbox" type="checkbox" ${checked} onclick="disableEnableDatetime(this)"/>
                                                    <span>Immidiate</span>
                                                </label>`;
                    }

                    break;
                default:
                    console.log("Error!! Unknown type in MIB.xml parameter type '" + type.toString() + "'");
            }
        }

        body.appendChild(inputContainer);
    }

    function getCurrentDate() {
        let dt = new Date;

        return `${dt.getDate().toString().padStart(2, '0')}/${(dt.getMonth() + 1).toString().padStart(2, '0')}/${
            dt.getFullYear().toString().padStart(4, '0')} ${
            dt.getHours().toString().padStart(2, '0')}:${
            dt.getMinutes().toString().padStart(2, '0')}:${
            dt.getSeconds().toString().padStart(2, '0')}`
    }

    function disableEnableDatetime(checkbox) {
        let datetime = checkbox.parentElement.parentElement.getElementsByClassName("paramsInput")[0];
        $(datetime).prop("disabled", checkbox.checked);
        if (!checkbox.checked)
            datetime.setAttribute("value", encodeDateTime(getCurrentDate()));
    }

    function encodeDateTime(dateTime) {
        let parsed = dateTime.split(" ");
        let time = parsed[1];
        let date = parsed[0].split("/");
        return `${date[2]}-${date[1]}-${date[0]}T${time}`;
    }

    function decodeDateTime(dateTime) {
        //1970-01-02T01:01:01
        let parsed = dateTime.split("T");
        let time = parsed[1];
        let date = parsed[0].split("-");
        return `${date[2]}/${date[1]}/${date[0]} ${time}`;
    }

    function parseJinja(jinja) {
        jinja = jinja.slice(1, -1);
        jinja = jinja.split(',');
        return [parseInt(jinja[0]), parseInt(jinja[1])];
    }

    function generateInputs(type, subtype, packet) {
        st = type;
        sst = subtype;
        clearInputs();
        let params = packet != null ? JSON.parse(packet).Content.Params : {};
        let nameIndex = commandNames.indexOf(dic["(" + type + "," + subtype + ")"]);
        for (var i = 0; i < paramTypes[nameIndex].length; i++) {
            generateInput(paramTypes[nameIndex][i], paramNames[nameIndex][i], paramUnits[nameIndex][i], params[paramNames[nameIndex][i]]);
        }
        generateInput("dateTime", "Execution Time", "sec", packet != null ? JSON.parse(packet).Content.ExecutionTime : "");
    }
    if (results.length == 2 || results.length == 3) {

    }
    var e = 0;
    // Setup draggable columns
    new Sortable(commandsContainer, {
        group: {
            name: 'shared',
            pull: 'clone',
            put: false // Do not allow items to be put into this list
        },
        animation: 150,
        sort: false, // To disable sorting: set sort to false
        filter: '.commandsTitle',
        onEnd: (evt) => {
            evt.item.setAttribute("inlist", "true");
            e = evt;
        }
    });


    new Sortable(playlistContainer, {
        group: 'shared',
        animation: 150,
        filter: '.commandsTitle',
        onEnd(evt) {
            let target = evt.originalEvent.target;
            let command = evt.item;
            if (playlistContainer !== target && !playlistContainer.contains(target)) {
                command.remove();
            }
        }
    });
    function sendPlaylist() {
        var playlist = document.getElementById("playlistContainer");
        var allCommands = "";
        var i = 0;
        while (i < playlist.children.length && playlist.children[i].getAttribute("value") != "HEADER") {
            i++;
        }
        i++;
        if (playlist.children.length <= i) {
            return;
        }
        for (; i < playlist.children.length - 1; i++) {
            var value = playlist.children[i].getAttribute("value");
            if (value == null) {
                alert("Command " + playlist.children[i].innerText + " is null");
            }
            else {
                allCommands += value + ",";
            }
        }
        var value = playlist.children[i].getAttribute("value");
        if (value == null) {
            alert("Command " + playlist.children[i].innerText + " is null");
        }
        else if (value == "HEADER") {

        }
        else {
            allCommands += value;
        }
        alert("All commands:" + allCommands);
        // window.location.assign("?packet=[" + allCommands + "]")
        ajaxSendPacket("?packet=[" + allCommands + "]");
    }

    function emptyPlaylist() {
        let commandList = document.getElementById("playlistContainer");
        commandList.innerHTML = "<div class=\"row commandsTitle\" value=\"HEADER\"><div class=\"column unselectable\">Command</div><div class=\"column unselectable\">Command number</div></div>";
    }
</script>

<script>
    var playlist = document.getElementById("playlistContainer");
    var x = "tryhard";
    var config = {
        apiKey: "AIzaSyDQWbidUuP-2zwyCsV9w3ylRnBRi2et_Zk",
        authDomain: "gsc-gui.firebaseapp.com",
        databaseURL: "https://gsc-gui.firebaseio.com",
        storageBucket: "bucket.appspot.com"
    };
    firebase.initializeApp(config);

    // Get a reference to the database service
    var database = firebase.database();
    var options = document.getElementById("playlistNameOptions")
    database.ref().once("value", function (snapshot) {
        snapshot.forEach(function (child) {
            var option = document.createElement("option");
            option.innerHTML = child.key;
            options.appendChild(option);
        })
    });

    function objToString(obj) {
        let str = "";
        for (key in obj) {
            str += `${key}: ${obj[key]}\n`
        }

        return str;
    }
    function getPlaylist(name, root) {

        var playlistPath = database.ref(name);
        var commandList = document.getElementById("playlistContainer");
        commandList.innerHTML = "<div class=\"row commandsTitle\" value=\"HEADER\"><div class=\"column unselectable\">Command</div><div class=\"column unselectable\">Command number</div></div>";

        playlistPath.once("value", function (snapshot) {
            snapshot.forEach(function (child) {
                console.log(child.key + ": " + child.val());
                child = child.val();
                var newCommand = document.createElement("div");
                newCommand.setAttribute("class", "row");
                newCommand.setAttribute("onclick", "showParams(true); let type = parseJinja('" + child["id"] + "');generateInputs(type[0],type[1],this.getAttribute('value'));thisCommand=this;");
                newCommand.setAttribute("id", child["id"]);
                newCommand.setAttribute("draggable", "false");
                newCommand.setAttribute("inlist", "true");
                newCommand.setAttribute("value", child["value"]);
                var newCommandName = document.createElement("div");
                newCommandName.setAttribute("class", "column unselectable");
                if (child["value"]) {
                    params = objToString(JSON.parse(child["value"]).Content.Params);
                    params += `Execution time: ${JSON.parse(child["value"]).Content.ExecutionTime}`;
                    newCommandName.innerHTML = `<abbr title="${params}">${dic[child["id"]]}</abbr>`;
                }
                else {
                    newCommandName.innerHTML = dic[child["id"]];
                }
                var newCommandNumber = document.createElement("div");
                newCommandNumber.setAttribute("class", "column unselectable");
                newCommandNumber.innerHTML = child["id"];
                newCommand.appendChild(newCommandName);
                newCommand.appendChild(newCommandNumber);
                commandList.appendChild(newCommand);
            });
        });
    }

    function deletePlaylist(name, options) {
        // Remove item from database
        var playlistPath = database.ref(name);
        playlistPath.remove();
        // Remove item from options
        options.remove();

    }
    function savePlaylist(name, root) {
        console.log("   Name: " + name);
        var playlistPath = database.ref(name);
        playlistPath.set({});
        var i = 0;
        while (i < root.children.length && root.children[i].getAttribute("value") != "HEADER") {
            i++;
        }
        i++;
        if (root.children.length <= i) {
            return;
        }
        for (; i < root.children.length - 1; i++) {
            var child = root.children[i];
            var id = child.getAttribute("id");
            var value = child.getAttribute("value");
            var json = {};
            json["id"] = id;
            json["value"] = value;
            playlistPath.push(json);
        }
        var child = root.children[i];
        var id = child.getAttribute("id");
        var value = child.getAttribute("value");

        var json = {};
        json["id"] = id;
        json["value"] = value;
        playlistPath.push(json);
        alert("playlist: " + name + " is saved");
    }

    function updatePlaylistNames() {
        var playlistPath = database.ref();
        var commandList = document.getElementById("playlistContainer");
        playlistPath.once("value", function (snapshot) {
            snapshot.forEach(function (child) {
                console.log(child.key + ": " + child.val());
                playlistsNames.push(child.key);

            });
        });
    }


</script>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
</body>

</html>