<!DOCTYPE html>
<html>
<!--Import all css, and images-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/materialize.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='GUI.css') }}">
<link rel="icon" type="image" href="{{ url_for('static',filename='icon.png') }}">
<!--Import datetime-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/flatly/bootstrap.min.css">


<head>
    <title>Commands</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/RubaXa/Sortable/master/Sortable.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/side_bar.js"></script>
    <style>
        header,
        main,
        footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {

            header,
            main,
            footer {
                padding-left: 0;
            }
        }


        ::placeholder {
            color: #fff;
        }
    </style>

</head>

<body class="indigo darken-1">

    <ul id="slide-out" class="sidenav sidenav-fixed light-blue lighten-3">
        <li class="logo center-align">
            <img src="/static/logo/logo.png" class="brand-logo" height="200" width="200">
        </li>
        <li>
            <div style="margin-left: 30px; margin-right: 30px;" class="input-field">
                <input id="dump-seacrh" placeholder="Telemetry Name" class="autocomplete">
                <label for="dump-seacrh" class="active">Dump</label>
                <a class="waves-effect waves-light btn-small" onclick="searchDump('dump-seacrh')"><i
                        class="material-icons left">search</i> Search Dump</a>
            </div>
        </li>
        <li onclick="navChange(this)" class="active"><a href="/commands">Commands</a></li>
        <li onclick="navChange(this)"><a href="/beacon">Beacons</a></li>
        <li onclick="navChange(this)"><a href="/logs">Logs</a></li>
    </ul>

    <a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large"><i
            class="material-icons">menu</i></a>


    <!--Command list body(command table)-->
    <main>
        <div bgcolor="#07224f" id="listBody">
            <!--Search inputs-->
            <input type="" id="nameInput" class="nameInput " onkeyup="searchNames()" placeholder="Search for names.."
                title="Type in a name">
            <input type="" id="numberInput" class="nameInput " onkeyup="searchNumbers()"
                placeholder="Search for ordered pair.." title="Type in an ordered pair">
            <br />
            <font face="Trebuchet MS" color="white">
                <!--Command table-->
                <div id="commandsContainer" class="commandsContainer">

                    <!--Headers, names-->
                    <div class="row commandsTitle">
                        <div class="column unselectable">Command</div>
                        <div class="column unselectable">Command number</div>
                    </div>


                    <!--Push command info to table, each cell contains command with type, subtype and name.-->
                    <!--Onclick add query variable to the end-->
                    {% for commandName in commandNames %}
                    <div class="row"
                        onclick="showParams(true); let type = parseJinja('{{commandNumbers[commandNames.index(commandName)]}}');generateInputs(type[0],type[1],this.getAttribute('value'));thisCommand=this;"
                        id="{{commandNumbers[commandNames.index(commandName)]}}">
                        <!--onclick="location.href = '?{{commandNumbers[commandNames.index(commandName)]}}'">-->
                        <div class="column unselectable">{{commandName}}</div>
                        <div class="column unselectable">{{commandNumbers[commandNames.index(commandName)]}}</div>
                    </div>
                    {% endfor %}
                </div>


                <div id="playlistContainer" class="playlistContainer">
                    <div class="row commandsTitle" value="HEADER">
                        <div class="column unselectable">Command</div>
                        <div class="column unselectable">Command number</div>
                    </div>
                </div>
                <button class="btn" onclick="sendPlaylist()">Send!</button>
                <input style="margin: 10px;" type="" id="playlistName" class="nameInput" placeholder="Playlist's name"
                    title="Type in a name">
                <button class="btn"
                    onclick="savePlaylist(document.getElementById('playlistName').value, playlist)">Save!</button>
                <select style="margin-bottom: 16px;" class="select-css" id="playlistNameOptions">
                </select>
                <button class="btn"
                    onclick="getPlaylist(options.options[options.selectedIndex].innerHTML)">Get!</button>
            </font>



        </div>
        <font face="Trebuchet MS" color="white">
            <div id="commandBody" style="display:none">


                <a href="#" class="sendButton" onclick="sendCommand()">Send Packet</a>
                <a href="#" class="addToPlaylistButton" onclick="addToPlaylist()" id="playlistButton">Add To
                    Playlist</a>

            </div>
        </font>
    </main>
</body>


<!-- Firebase modules -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>

<script>
    var playlistsNames = [];
    var lastPacket = null;
    var st = 0
    var sst = 0;
    var thisCommand = null;
    var datetimeCounter = 0;
    var debug = "{{DEBUG}}";
    console.log("DEBUG: " + debug);

    var regex = new RegExp();
    var results = regex.exec(location.search);
    if (results.input.search("packet") != -1) {
        window.location.assign("?");
        if (results.input.search("playlist")) {
            alert("This packet is going to playlist");
        }
    }
    results = results.input.replace("?", "");
    results = results.replace("(", "");
    results = results.replace(")", "");
    results = results.replace("&", ",");
    results = results.split(",");
    if (isInteger(results[0]) && isInteger(results[1])) {
        alert("yes");
        showParams(true);
        if (results.length == 3 && results[2] == "playlist") {
            alert("Playlist");

        }
        else {
            document.getElementById("playlistButton").setAttribute("style", "display:none");
        }
    }
    console.log(results);

    function showParams(show) {
        if (show) {
            document.getElementById("listBody").setAttribute("style", "display:none");
            document.getElementById("commandBody").setAttribute("style", "");
        }
        else {
            document.getElementById("listBody").setAttribute("style", "");
            document.getElementById("commandBody").setAttribute("style", "display:none");
        }
    }

    function writePacket(st, sst, params, execTime) {
        var packet = "{\"Type\":\"Telecommand\", \"Content\":";

        packet += "{\"ST\":\"" + st + "\",\"SST\":\"" + sst + "\"" + ",\"ExecutionTime\":\"" + execTime[1] + "\",\"Params\":{";
        for (var i = 0; i < params.length - 1; i++) {
            var arr = params[i];
            packet += "\"" + arr[0] + "\":\"" + arr[1] + "\",";

        }

        if (params.length > 0) {
            var arr = params[params.length - 1];
            packet += "\"" + arr[0] + "\":\"" + arr[1] + "\"";
        }


        packet += "}}}";
        return packet;
    }
    function clearInputs() {
        var body = document.getElementById("commandBody");
        var bodyChildren = body.children;
        var length = bodyChildren.length;
        for (var i = 0; i < bodyChildren.length; i++) {
            if (bodyChildren[i].tagName == "DIV") {
                bodyChildren[i].parentNode.removeChild(bodyChildren[i]);
                i--;
            }
        }
    }
    function isInteger(str) {
        var n = Math.floor(Number(str));
        return n !== Infinity && String(n) === str && n >= 0;
    }

    function sendCommand() {
        alert("Send command");
        var inputParams = document.getElementsByName("paramInput");
        var params = [];
        for (var i = 0; i < inputParams.length; i++) {
            var param = [];
            param.push(inputParams[i].getAttribute("paramName"));
            let value = inputParams[i].lastElementChild.value;
            console.log(inputParams[i].lastElementChild.type == "datetime-local");
            if (inputParams[i].lastElementChild.type === "datetime-local")
                value = decodeDateTime(value);
            param.push(value);
            params.push(param);
        }
        let execTime = params.pop();
        var packet = writePacket(st, sst, params, execTime);
        sendPacket(packet, true, null);
    }

    function addToPlaylist() {
        alert("Command added");
        var inputParams = document.getElementsByName("paramInput");
        var params = [];
        for (var i = 0; i < inputParams.length; i++) {
            var param = [];
            param.push(inputParams[i].getAttribute("paramName"));
            let value = inputParams[i].lastElementChild.value;
            if (inputParams[i].lastElementChild.type === "datetime-local")
                value = decodeDateTime(value);
            param.push(value);
            params.push(param);
        }
        let execTime = params.pop();
        var packet = writePacket(st, sst, params, execTime);
        sendPacket(packet, false, thisCommand);
    }


    function sendPacket(packets, isNow, div) {
        showParams(false);
        if (isNow) {
            window.location.assign("?packet=[" + packets.toString() + "]");
            lastPacket = packets.toString();
            // Change URL to add query variable of (writePacket()).
        }
        else {
            let child = div.firstElementChild.firstElementChild || div.firstElementChild;
            let text = child.innerHTML;
            let params = objToString(JSON.parse(packets).Content.Params);
            params += `Execution time: ${JSON.parse(packets).Content.ExecutionTime}`;
            div.firstElementChild.innerHTML = `<abbr title="${params}">${text}</abbr>`;
            div.setAttribute("value", packets);
        }
    }

    function searchNames() {
        var input, filter, table, trDiv, tdDiv, i, txtValue;
        input = document.getElementById("nameInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("commandsContainer");
        trDiv = table.getElementsByTagName("div");
        for (i = 1; i < trDiv.length; i++) {
            tdDiv = trDiv[i].getElementsByTagName("div")[0];
            if (tdDiv) {
                txtValue = tdDiv.textContent || tdDiv.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    trDiv[i].style.display = "";
                } else {
                    trDiv[i].style.display = "none";
                }
            }
        }
    }
    function searchNumbers() {
        var input, filter, table, trDiv, tdDiv, i, txtValue;
        input = document.getElementById("numberInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("commandsContainer");
        trDiv = table.getElementsByTagName("div");
        for (i = 1; i < trDiv.length; i++) {
            tdDiv = trDiv[i].getElementsByTagName("div")[1];
            if (tdDiv) {
                txtValue = tdDiv.textContent || tdDiv.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    trDiv[i].style.display = "";
                } else {
                    trDiv[i].style.display = "none";
                }
            }
        }
    }
    function validate(evt, type) {
        var theEvent = evt || window.event;
        switch (type) {
            case ("int"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }

                if (parseInt(theEvent.target.value) >= Number.MAX_SAFE_INTEGER) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
            case ("char"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }
                if (parseInt(theEvent.target.value + theEvent.key) > 255) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
        }
    }
    function init() {
        searchNames();
        searchNumbers();
    }
    paramNames = [];
    {% for param in paramNames %}
    var commandParamNames = [];
    {% for name in param %}
    commandParamNames.push("{{name}}");
    {% endfor %}
    paramNames.push(commandParamNames);
    {% endfor %}

    paramTypes = [];
    {% for types in paramTypes %}
    commandParamTypes = [];
    {% for type in types %}
    commandParamTypes.push("{{type}}");
    {% endfor %}
    paramTypes.push(commandParamTypes);
    {% endfor %}

    paramUnits = [];
    {% for units in paramUnits %}
    commandParamUnits = [];
    {% for unit in units %}
    commandParamUnits.push("{{unit}}");
    {% endfor %}
    paramUnits.push(commandParamUnits);
    {% endfor %}
    commandNames = [];
    var dic = {};
    {% for commandName in commandNames %}
    commandNames.push("{{commandName}}");
    dic["{{commandNumbers[commandNames.index(commandName)]}}"] = "{{commandName}}";
    {% endfor %}

    function generateInput(type, paramName, paramUnit, placeholder) {
        if (!placeholder) placeholder = "";

        var inputContainer = document.createElement("div");
        inputContainer.setAttribute("style", "position:relative");
        inputContainer.setAttribute("name", "paramInput");
        inputContainer.setAttribute("paramName", paramName);


        var inputInfo = document.createElement("div");
        inputInfo.innerHTML = paramName + ((paramUnit == "None") ? " " : " In " + paramUnit) + ":";
        inputContainer.appendChild(inputInfo);

        var body = document.getElementById("commandBody");

        var intInput = document.createElement("input");
        //intInput.setAttribute("type", "numbers");
        intInput.setAttribute("onkeypress", "validate(event, \"int\")");
        intInput.setAttribute("class", "paramsInput");

        var charInput = document.createElement("input");
        charInput.setAttribute("onkeypress", "validate(event, \"char\")");
        charInput.setAttribute("class", "paramsInput");

        var stringInput = document.createElement("input");
        stringInput.setAttribute("class", "paramsInput movingLable");
        stringInput.setAttribute("style", "color: white");

        var datetimeInput = document.createElement("input");
        datetimeInput.setAttribute("type", "datetime-local");
        datetimeInput.setAttribute("step", "1");
        datetimeInput.setAttribute("class", "paramsInput form-control");


        switch (type) {
            case ("uint16"):
                intInput.setAttribute("value", placeholder);
                inputContainer.appendChild(intInput);
                break;

            case ("uint32"):
                intInput.setAttribute("value", placeholder);
                inputContainer.appendChild(intInput);
                break;

            case ("string"):
                stringInput.setAttribute("value", placeholder);
                inputContainer.appendChild(stringInput);
                break;

            case ("byte"):
                charInput.setAttribute("value", placeholder);
                inputContainer.appendChild(charInput);
                break;

            case ("dateTime"):
                if (placeholder == "") placeholder = encodeDateTime('01/01/1970 01:01:01');
                else placeholder = encodeDateTime(placeholder);
                datetimeInput.setAttribute("value", placeholder);
                inputContainer.appendChild(datetimeInput);
                break;
            default:
                console.log("Error!! Unknown type in MIB.xml parameter type '" + type.toString() + "'");
        }


        body.appendChild(inputContainer);
    }

    function encodeDateTime(dateTime) {
        let parsed = dateTime.split(" ");
        let time = parsed[1];
        let date = parsed[0].split("/");
        return `${date[2]}-${date[1]}-${date[0]}T${time}`;
    }

    function decodeDateTime(dateTime) {
        //1970-01-02T01:01:01
        let parsed = dateTime.split("T");
        let time = parsed[1];
        let date = parsed[0].split("-");
        return `${date[2]}/${date[1]}/${date[0]} ${time}`;
    }

    function parseJinja(jinja) {
        jinja = jinja.slice(1, -1);
        jinja = jinja.split(',');
        return [parseInt(jinja[0]), parseInt(jinja[1])];
    }

    function generateInputs(type, subtype, packet) {
        st = type;
        sst = subtype;
        clearInputs();
        let params = packet != null ? JSON.parse(packet).Content.Params : {};
        console.log(packet);
        let nameIndex = commandNames.indexOf(dic["(" + type + "," + subtype + ")"]);
        for (var i = 0; i < paramTypes[nameIndex].length; i++) {
            generateInput(paramTypes[nameIndex][i], paramNames[nameIndex][i], paramUnits[nameIndex][i], params[paramNames[nameIndex][i]]);
        }
        generateInput("dateTime", "Execution Time", "sec", packet != null ? JSON.parse(packet).Content.ExecutionTime : "");
    }
    if (results.length == 2 || results.length == 3) {

    }
    var e = 0;
    // Setup draggable columns
    new Sortable(commandsContainer, {
        group: {
            name: 'shared',
            pull: 'clone',
            put: false // Do not allow items to be put into this list
        },
        animation: 150,
        sort: false, // To disable sorting: set sort to false
        filter: '.commandsTitle',
        onEnd: (evt) => {
            evt.item.setAttribute("inlist", "true");
            e = evt;
        }
    });


    new Sortable(playlistContainer, {
        group: 'shared',
        animation: 150,
        filter: '.commandsTitle',
        onEnd(evt) {
            let target = evt.originalEvent.target;
            let command = evt.item;
            if (playlistContainer !== target && !playlistContainer.contains(target)) {
                command.remove();
            }
        }
    });
    function sendPlaylist() {
        var playlist = document.getElementById("playlistContainer");
        var allCommands = "";
        var i = 0;
        while (i < playlist.children.length && playlist.children[i].getAttribute("value") != "HEADER") {
            i++;
        }
        i++;
        if (playlist.children.length <= i) {
            return;
        }
        for (; i < playlist.children.length - 1; i++) {
            var value = playlist.children[i].getAttribute("value");
            if (value == null) {
                alert("Command " + playlist.children[i].innerText + " is null");
            }
            else {
                allCommands += value + ",";
            }
        }
        var value = playlist.children[i].getAttribute("value");
        if (value == null) {
            alert("Command " + playlist.children[i].innerText + " is null");
        }
        else if (value == "HEADER") {

        }
        else {
            allCommands += value;
        }
        alert("All commands:" + allCommands);
        window.location.assign("?packet=[" + allCommands + "]")

    }
</script>

<script>
    var playlist = document.getElementById("playlistContainer");
    var x = "tryhard";
    var config = {
        apiKey: "AIzaSyDQWbidUuP-2zwyCsV9w3ylRnBRi2et_Zk",
        authDomain: "gsc-gui.firebaseapp.com",
        databaseURL: "https://gsc-gui.firebaseio.com",
        storageBucket: "bucket.appspot.com"
    };
    firebase.initializeApp(config);

    // Get a reference to the database service
    var database = firebase.database();
    var options = document.getElementById("playlistNameOptions")
    database.ref().once("value", function (snapshot) {
        snapshot.forEach(function (child) {
            var option = document.createElement("option");
            option.innerHTML = child.key;
            options.appendChild(option);
            console.log(child.key);
        })
    });

    function objToString(obj) {
        let str = "";
        for (key in obj) {
            str += `${key}: ${obj[key]}\n`
        }

        return str;
    }
    function getPlaylist(name, root) {

        var playlistPath = database.ref(name);
        var commandList = document.getElementById("playlistContainer");
        commandList.innerHTML = "<div class=\"row commandsTitle\" value=\"HEADER\"><div class=\"column unselectable\">Command</div><div class=\"column unselectable\">Command number</div></div>";

        playlistPath.once("value", function (snapshot) {
            snapshot.forEach(function (child) {
                console.log(child.key + ": " + child.val());
                child = child.val();
                var newCommand = document.createElement("div");
                newCommand.setAttribute("class", "row");
                newCommand.setAttribute("onclick", "showParams(true); let type = parseJinja('" + child["id"] + "');generateInputs(type[0],type[1],this.getAttribute('value'));thisCommand=this;");
                newCommand.setAttribute("id", child["id"]);
                newCommand.setAttribute("draggable", "false");
                newCommand.setAttribute("inlist", "true");
                newCommand.setAttribute("value", child["value"]);
                var newCommandName = document.createElement("div");
                newCommandName.setAttribute("class", "column unselectable");
                params = objToString(JSON.parse(child["value"]).Content.Params);
                params += `Execution time: ${JSON.parse(child["value"]).Content.ExecutionTime}`;
                newCommandName.innerHTML = `<abbr title="${params}">${dic[child["id"]]}</abbr>`;
                var newCommandNumber = document.createElement("div");
                newCommandNumber.setAttribute("class", "column unselectable");
                newCommandNumber.innerHTML = child["id"];
                newCommand.appendChild(newCommandName);
                newCommand.appendChild(newCommandNumber);
                commandList.appendChild(newCommand);
            });
        });
    }
    function savePlaylist(name, root) {
        console.log("   Name: " + name);
        var playlistPath = database.ref(name);
        playlistPath.set({});
        var i = 0;
        while (i < root.children.length && root.children[i].getAttribute("value") != "HEADER") {
            i++;
        }
        i++;
        if (root.children.length <= i) {
            return;
        }
        for (; i < root.children.length - 1; i++) {
            var child = root.children[i];
            var id = child.getAttribute("id");
            var value = child.getAttribute("value");
            var json = {};
            json["id"] = id;
            json["value"] = value;
            playlistPath.push(json);
        }
        var child = root.children[i];
        var id = child.getAttribute("id");
        var value = child.getAttribute("value");

        var json = {};
        json["id"] = id;
        json["value"] = value;
        playlistPath.push(json);

    }

    function updatePlaylistNames() {
        var playlistPath = database.ref();
        var commandList = document.getElementById("playlistContainer");
        playlistPath.once("value", function (snapshot) {
            snapshot.forEach(function (child) {
                console.log(child.key + ": " + child.val());
                playlistsNames.push(child.key);

            });
        });
    }


</script>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
</body>

</html>