<!DOCTYPE html>
<html>
<!--Import all css, and images-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/materialize.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='GUI.css') }}">
<link rel="icon" type="image" href="{{ url_for('static',filename='icon.png') }}">
<!--Import datetime-->

<head>
    <title>Commands</title>
    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <script src="/static/js/side_bar.js"></script>
    <style>
        header,
        main,
        footer {
            padding-left: 300px;
        }

        @media only screen and (max-width : 992px) {

            header,
            main,
            footer {
                padding-left: 0;
            }
        }


        ::placeholder {
            color: #fff;
        }

        textarea {
            width: 700px;
            height: 400px;
        }
    </style>

</head>

<body class="indigo darken-1">

    <ul id="slide-out" class="sidenav sidenav-fixed light-blue lighten-3">
        <li class="logo center-align">
            <img src="/static/logo/logo.png" class="brand-logo" height="200" width="200">
        </li>
        <li>
            <div style="margin-left: 30px; margin-right: 30px;" class="input-field">
                <input id="dump-seacrh" placeholder="Telemetry Name" class="autocomplete">
                <label for="dump-seacrh" class="active">Dump</label>
                <a class="waves-effect waves-light btn-small" onclick="searchDump('dump-seacrh')"><i
                        class="material-icons left">search</i> Search Dump</a>
            </div>
        </li>
        <li onclick="navChange(this)" class="active"><a href="/commands">Commands</a></li>
        <li onclick="navChange(this)"><a href="/beacon">Beacons</a></li>
        <li onclick="navChange(this)"><a href="/logs">Logs</a></li>
        <li onclick="navChange(this)"><a href="/graphForm">Graphs</a></li>
        <li onclick="navChange(this)"><a href="/acks">Acks</a></li>
		<li onclick="navChange(this)"><a href="/login">Login<span class="badge badge-warning">New</span></a></li>
		    <li><i><a id="userStatus">You are not logged in. </a><i></li>

    </ul>
<!---->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/flatly/bootstrap.min.css">
    <a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large"><i
            class="material-icons">menu</i></a>


    <!--Command list body(command table)-->
    <main>
        <div class="white-text" bgcolor="#07224f" id="listBody">
            <!--Search inputs-->
            <input type="" id="nameInput" class="nameInput " onkeyup="searchNames()" placeholder="Search for names.."
                title="Type in a name">
            <input type="" id="numberInput" class="nameInput " onkeyup="searchNumbers()"
                placeholder="Search for ordered pair.." title="Type in an ordered pair">
            <br />
            <!--Command table-->
            <div id="commandsContainer" class="commandsContainer">

                <!--Headers, names-->
                <div class="row commandsTitle">
                    <div class="column unselectable">Command</div>
                    <div class="column unselectable">Command number</div>
                </div>


                <!--Push command info to table, each cell contains command with type, subtype and name.-->
                <!--Onclick add query variable to the end-->
                {% for commandName in commandNames %}
                <div class="row"
                    onclick="showParams(true); let type = parseJinja('{{commandNumbers[commandNames.index(commandName)]}}');generateInputs(type[0],type[1],this.getAttribute('value'));thisCommand=this;"
                    id="{{commandNumbers[commandNames.index(commandName)]}}">
                    <!--onclick="location.href = '?{{commandNumbers[commandNames.index(commandName)]}}'">-->
                    <div class="column unselectable">{{commandName}}</div>
                    <div class="column unselectable">{{commandNumbers[commandNames.index(commandName)]}}</div>
                </div>
                {% endfor %}
            </div>


            <div id="playlistContainer" class="playlistContainer">
                <div class="row commandsTitle" value="HEADER">
                    <div class="column unselectable">Command</div>
                    <div class="column unselectable">Command number</div>
                </div>
            </div>
            <button class="btn" onclick="sendPlaylist()">Send!</button>
            <button class="btn" onclick="emptyPlaylist()">Empty!</button>
            <input style="margin: 10px;" type="" id="playlistName" class="nameInput" placeholder="Playlist's name"
                title="Type in a name">
            <button class="btn"
                onclick="savePlaylist(document.getElementById('playlistName').value, playlist)">Save!</button>
            <button class="btn" onclick="sendPlaylistSteps()">Send Step By Step</button>
            <button data-target="playlsitJson" class="btn modal-trigger">Load Playlist From JSON</button>

            <select style="margin-bottom: 16px;" class="select-css" id="playlistNameOptions">
            </select>
            <button class="btn"
                onclick="getPlaylist(options.options[options.selectedIndex].innerHTML,playlist)">Get!</button>

            <button class="btn"
                onclick="deletePlaylist(options.options[options.selectedIndex].innerHTML)">Delete!</button>

            <div class="card indigo darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Control Panel</span>
                    <button class="btn" id="dummyFunc" onclick="">Send dummy funcs</button>
                    <p>How many Dummy Funcs?</p>
                    <input type="number" id="dummyFuncNum" min="1" max="255" value="1" class="white-text">
                    <p>Select EndNode</p>
                    <select id="endnode" class="browser-default" onchange="chnageEndnode()"></select>
                </div>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="playlsitJson" class="modal">
            <div class="modal-content">
                <h4>Enter Playlist JSON:</h4>
                <textarea id="playlistJsonInput" cols="30" rows="10"></textarea>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat"
                    onclick="parsePlaylistJSON()">Enter</a>
            </div>
        </div>

        </div class="white-text">
        <div id="commandBody" style="display:none">
            <a href="#" class="sendButton" onclick="sendCommand()">Send Packet</a>
            <a href="#" class="addToPlaylistButton" onclick="addToPlaylist()" id="playlistButton">Add To
                Playlist</a>

        </div>
    </main>
</body>


<!-- Firebase modules -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-firestore.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>


<script>
    let selectedEndnode;
    var playlistsNames = [];
    var lastPacket = null;
    var st = 0
    var sst = 0;
    var thisCommand = null;
    var datetimeCounter = 0;
    var debug = "{{DEBUG}}";
    console.log("DEBUG: " + debug);
	
	var user=null;
	
    var regex = new RegExp();
    var results = regex.exec(location.search);
    if (results.input.search("packet") != -1) {
        window.location.assign("?");
        if (results.input.search("playlist")) {
            alert("This packet is going to playlist");
        }
    }
    results = results.input.replace("?", "");
    results = results.replace("(", "");
    results = results.replace(")", "");
    results = results.replace("&", ",");
    results = results.split(",");
    if (isInteger(results[0]) && isInteger(results[1])) {
        alert("yes");
        showParams(true);
        if (results.length == 3 && results[2] == "playlist") {
            alert("Playlist");

        }
        else {
            document.getElementById("playlistButton").setAttribute("style", "display:none");
        }
    }
    function chnageEndnode() {
        const select = document.getElementById("endnode");
        selectedEndnode = select.value;
    }
    function showParams(show) {
        if (show) {
            document.getElementById("listBody").setAttribute("style", "display:none");
            document.getElementById("commandBody").setAttribute("style", "");
        }
        else {
            document.getElementById("listBody").setAttribute("style", "");
            document.getElementById("commandBody").setAttribute("style", "display:none");
        }
    }

    function writePacket(st, sst, params, execTime) {
        var packet = '{"Type":"Telecommand", "Content":';

        packet += `{"ST":"${st}","SST":"${sst}","EndNode":-1, "ExecutionTime":"${execTime[1]}","Params":{`;
        for (var i = 0; i < params.length - 1; i++) {
            var arr = params[i];
            packet += `"${arr[0]}":"${arr[1]}",`;

        }

        if (params.length > 0) {
            var arr = params[params.length - 1];
            packet += `"${arr[0]}":"${arr[1]}"`;
        }


        packet += "}}}";
        return packet;
    }
    function clearInputs() {
        var body = document.getElementById("commandBody");
        var bodyChildren = body.children;
        var length = bodyChildren.length;
        for (var i = 0; i < bodyChildren.length; i++) {
            if (bodyChildren[i].tagName == "DIV") {
                bodyChildren[i].parentNode.removeChild(bodyChildren[i]);
                i--;
            }
        }
    }
    function isInteger(str) {
        var n = Math.floor(Number(str));
        return n !== Infinity && String(n) === str && n >= 0;
    }

    function constructPacket() {
        alert("Send command");
        var inputParams = document.getElementsByClassName("paramsInput");
        var params = [];
        for (var i = 0; i < inputParams.length; i++) {
            var param = [];
            param.push(inputParams[i].parentElement.getAttribute("paramName"));
            let value = inputParams[i].value;
            if (inputParams[i].type === "datetime-local") {
                if (inputParams[i].parentElement.getElementsByClassName("checkbox")[0].checked) {
                    const timestamp = inputParams[i].parentElement.getElementsByClassName("row")[0];
                    const hours = parseInt(timestamp.children[0].firstElementChild.value);
                    const mins = parseInt(timestamp.children[1].firstElementChild.value);
                    const secs = parseInt(timestamp.children[2].firstElementChild.value);
                    value = `TS${hours}:${mins}:${secs}`;
                }
                else
                    value = decodeDateTime(value);
            }
            param.push(value);
            params.push(param);
        }
        let execTime = params.pop();
        let packet = writePacket(st, sst, params, execTime);
        return packet;
    }

    function sendCommand() {
        const packet = constructPacket();
        sendPacket(packet, true, null);
    }

    function addToPlaylist() {
        const packet = constructPacket();
        sendPacket(packet, false, thisCommand);
    }


    function sendPacket(packets, isNow, div) {
        showParams(false);
        if (isNow) {
            packets = packets;
            //window.location.assign("?packet=[" + packets.toString() + "]");
            lastPacket = packets.toString();
            packets = parseTimestampPacket(packets);
            ajaxSendPacket("?packet=[" + packets.toString() + "]")
            // Change URL to add query variable of (writePacket()).
        }
        else {
            let child = div.firstElementChild.firstElementChild || div.firstElementChild;
            let text = child.innerHTML;
            let params = objToString(JSON.parse(packets).Content.Params);
            params += `Execution time: ${JSON.parse(packets).Content.ExecutionTime}`;
            div.firstElementChild.innerHTML = `<abbr title="${params}">${text}</abbr>`;
            div.setAttribute("value", packets);
        }
    }

    function ajaxSendPacket(url) {
        $.ajax({
            type: "POST",
            url: `/commands${url}`,
            data: {},
            error: (xhr, ajaxOptions, thrownError) => {
                M.toast({ html: 'Couldn\'t send packet', classes: 'red' });
            }
        });
    }

    function searchNames() {
        var input, filter, table, trDiv, tdDiv, i, txtValue;
        input = document.getElementById("nameInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("commandsContainer");
        trDiv = table.getElementsByTagName("div");
        for (i = 1; i < trDiv.length; i++) {
            tdDiv = trDiv[i].getElementsByTagName("div")[0];
            if (tdDiv) {
                txtValue = tdDiv.textContent || tdDiv.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    trDiv[i].style.display = "";
                } else {
                    trDiv[i].style.display = "none";
                }
            }
        }
    }
    function searchNumbers() {
        var input, filter, table, trDiv, tdDiv, i, txtValue;
        input = document.getElementById("numberInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("commandsContainer");
        trDiv = table.getElementsByTagName("div");
        for (i = 1; i < trDiv.length; i++) {
            tdDiv = trDiv[i].getElementsByTagName("div")[1];
            if (tdDiv) {
                txtValue = tdDiv.textContent || tdDiv.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    trDiv[i].style.display = "";
                } else {
                    trDiv[i].style.display = "none";
                }
            }
        }
    }
    function validate(evt, type) {
        var theEvent = evt || window.event;
        switch (type) {
            case ("uint"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }

                if (parseInt(theEvent.target.value) >= Number.MAX_SAFE_INTEGER) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
            case ("int"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9\-]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }

                if (parseInt(theEvent.target.value) >= Number.MAX_SAFE_INTEGER) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
            case ("float"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9\.]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }

                if (parseFloat(theEvent.target.value) >= Number.MAX_SAFE_INTEGER) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
            case ("char"):
                // Handle paste
                if (theEvent.type === 'paste') {
                    key = event.clipboardData.getData('text/plain');
                } else {
                    // Handle key press
                    var key = theEvent.keyCode || theEvent.which;
                    key = String.fromCharCode(key);
                }
                var regex = /[0-9]/;
                if (!regex.test(key)) {
                    theEvent.returnValue = false;
                    if (theEvent.preventDefault) theEvent.preventDefault();
                }
                if (parseInt(theEvent.target.value + theEvent.key) > 255) {
                    theEvent.returnValue = false;
                    theEvent.preventDefault();
                }
                break;
        }
    }
    function init() {
        searchNames();
        searchNumbers();
    }
    paramNames = [];
    {% for param in paramNames %}
    var commandParamNames = [];
    {% for name in param %}
    commandParamNames.push("{{name}}");
    {% endfor %}
    paramNames.push(commandParamNames);
    {% endfor %}

    paramTypes = [];
    {% for types in paramTypes %}
    commandParamTypes = [];
    {% for type in types %}
    commandParamTypes.push("{{type}}");
    {% endfor %}
    paramTypes.push(commandParamTypes);
    {% endfor %}

    paramUnits = [];
    {% for units in paramUnits %}
    commandParamUnits = [];
    {% for unit in units %}
    commandParamUnits.push("{{unit}}");
    {% endfor %}
    paramUnits.push(commandParamUnits);
    {% endfor %}
    commandNames = [];
    var dic = {};
    {% for commandName in commandNames %}
    commandNames.push("{{commandName}}");
    dic["{{commandNumbers[commandNames.index(commandName)]}}"] = "{{commandName}}";
    {% endfor %}

    Object.keys(dic).forEach(function (key) {
        if (dic[key] == "DummyFunc") {
            console.log(dic[key]);
            var btn = document.getElementById("dummyFunc");
            key = key.replace('(', '').replace(')', '');
            var st = key.split(',')[0];
            var sst = key.split(',')[1];
            btn.setAttribute("onclick", `sendDummyFuncs(${st},${sst})`);
        }
    });

    function sendDummyFuncs(st, sst) {
        const howMany = document.getElementById("dummyFuncNum").value;

        for (let i = 0; i < howMany; i++) {
            $.ajax({
                type: "POST",
                url: `/commands?packet=[{"Type":"Telecommand", "Content":{"ST":"20","SST":"122","ExecutionTime":"01/01/1970 01:01:01","Params":{}, "EndNode":${document.getElementById("endnode").value}}}]`,
                data: {},
                error: (xhr, ajaxOptions, thrownError) => {
                    M.toast({ html: 'Couldn\'t send packet', classes: 'red' });
                }
            });
        }

        M.toast({ html: 'Dummy Funcs were sent', classes: 'blue' });


    }

    function generateInput(type, paramName, paramUnit, placeholder) {
        if (!placeholder) placeholder = "";

        var inputContainer = document.createElement("div");
        inputContainer.setAttribute("style", "position:relative");
        inputContainer.setAttribute("name", "paramInput");
        inputContainer.setAttribute("paramName", paramName);
        inputContainer.setAttribute("class", "white-text");

        var inputInfo = document.createElement("div");
        inputInfo.innerHTML = paramName + ((paramUnit == "None") ? " " : " In " + paramUnit) + ":";
        inputContainer.appendChild(inputInfo);

        var body = document.getElementById("commandBody");

        var uintInput = document.createElement("input");
        //intInput.setAttribute("type", "numbers");
        uintInput.setAttribute("onkeypress", "validate(event, \"uint\")");
        uintInput.setAttribute("class", "paramsInput");

        var intInput = document.createElement("input");
        //intInput.setAttribute("type", "numbers");
        intInput.setAttribute("onkeypress", "validate(event, \"int\")");
        intInput.setAttribute("class", "paramsInput");

        var floatInput = document.createElement("input");
        //intInput.setAttribute("type", "numbers");
        floatInput.setAttribute("onkeypress", "validate(event, \"float\")");
        floatInput.setAttribute("class", "paramsInput");

        var charInput = document.createElement("input");
        charInput.setAttribute("onkeypress", "validate(event, \"char\")");
        charInput.setAttribute("class", "paramsInput");

        var stringInput = document.createElement("input");
        stringInput.setAttribute("class", "paramsInput movingLable");
        stringInput.setAttribute("style", "color: white");

        var datetimeInput = document.createElement("input");
        datetimeInput.setAttribute("type", "datetime-local");
        datetimeInput.setAttribute("step", "1");
        datetimeInput.setAttribute("class", "paramsInput datetime");

        let dumpType = document.createElement("select");
        dumpType.className = "paramsInput browser-default"
        dumpType.style = "color: Black"
        dumpType.innerHTML = `
            <option value=0>0 ACK</option>
            <option value=1>1 log file events</option>
            <option value=2>2 log file errors</option>
            <option value=18>18 This is not the file you are looking for</option>
            <option value=50>50 EPS_HK</option>
            <option value=51>51 COMM_HK</option>
            <option value=52>52 Camera_HK</option>
            <option value=53>53 Solar Panel_HK</option>
            <option value=54>54 empty</option>
            <option value=55>55 EPS_1</option>
            <option value=56>56 EPS_2</option>
            <option value=57>57 EPS_3</option>
            <option value=58>58 EPS_4</option>
            <option value=59>59 EPS_5</option>
            <option value=60>60 EPS_6</option>
            <option value=61>61 EPS_7</option>
            <option value=62>62 EPS_8</option>
            <option value=63>63 COMM_1</option>
            <option value=64>64 COMM_2</option>
            <option value=65>65 COMM_3</option>
            <option value=66>66 COMM_4</option>
            <option value=67>67 ant_A_1</option>
            <option value=68>68 ant_A_2</option>
            <option value=69>69 ant_A_3</option>
            <option value=70>70 ant_B_1</option>
            <option value=71>71 ant_B_2</option>
            <option value=72>72 ant_B_3</option>
            <option value=73>73 file system A</option>
            <option value=74>74 file system B</option>
            <option value=140>140 Current Unix Time</option>
            <option value=146>146 Estimated Angles</option>
            <option value=147>147 Estimated Angular Rates</option>
            <option value=150>150 Satellite position</option>
            <option value=151>151 Magnetic Field From Magnetometer</option>
            <option value=152>152 Coarse Sun Sensor Vector</option>
            <option value=153>153 Fine Sun Sensor Vector</option>
            <option value=155>155 Rate Sensor Measurements</option>
            <option value=156>156 Y-Wheel Speed</option>
            <option value=157>157 Magnetotorquer Commands</option>
            <option value=168>168 Raw CSS Vector 1-6</option>
            <option value=169>169 Raw CSS Vector 7-10</option>
            <option value=170>170 Raw Magnetometer Measurements</option>
            <option value=172>172 CubeControl Currents</option>
            <option value=190>190 ADCS State Vector And Errors</option>
            <option value=193>193 Estimated MeteData</option>
            <option value=195>195 ADCS Power Temperatures</option>
            <option value=198>198 ADCS Miscellaneous Currents</option>
        `
        if (paramName.search("file type") === 0) {
            for (const option of dumpType) {
                if (option.value == placeholder) {
                    option.setAttribute("selected", "selected");
                }
            }
            inputContainer.appendChild(dumpType);
        }
        else {
            switch (type) {
                case ("uint16"):
                    uintInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(uintInput);
                    break;

                case ("int16"):
                    intInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(intInput);
                    break;

                case ("uint32"):
                    uintInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(uintInput);
                    break;

                case ("float"):
                    floatInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(floatInput);
                    break;

                case ("double"):
                    floatInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(floatInput);
                    break;

                case ("string"):
                    stringInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(stringInput);
                    break;

                case ("byte"):
                    charInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(charInput);
                    break;

                case ("bitmap"):
                    charInput.setAttribute("value", placeholder);
                    inputContainer.appendChild(charInput);
                    break;

                case ("dateTime"):
                    let checked = ''
                    let hours = 0;
                    let mins = 0;
                    let secs = 0;
                    if (placeholder.search(/TS\d+:\d+:\d+/) !== -1) {
                        const timestamp = placeholder.slice(2).split(":");
                        hours = parseInt(timestamp[0]);
                        mins = parseInt(timestamp[1]);
                        secs = parseInt(timestamp[2]);
                        checked = 'checked';
                        datetimeInput.setAttribute("disabled", "disabled");
                        placeholder = encodeDateTime(getCurrentDate());
                    }
                    else if (placeholder == "") {
                        placeholder = encodeDateTime(getCurrentDate());
                        checked = 'checked';
                        $(datetimeInput).prop("disabled", true);
                    }
                    else placeholder = encodeDateTime(placeholder);

                    datetimeInput.setAttribute("value", placeholder);

                    inputContainer.appendChild(datetimeInput);

                    inputContainer.innerHTML += `<label>
                                                    <input class="checkbox" type="checkbox" ${checked} onclick="disableEnableDatetime(this)"/>
                                                    <span>Timestamp</span>
                                                </label>
                                                <div ${checked == '' ? "hidden" : ""} class="row" id="timestamp">
                                                    <div class="input-field col s2">
                                                        <input id="hours" type="number" class="validate" min="0" value="${hours}">
                                                        <label for="hours">Hours</label>
                                                    </div>
                                                    <div class="input-field col s2">
                                                        <input id="minutes" type="number" class="validate" min="0" max="59" value="${mins}">
                                                        <label for="minutes">Minutes</label>
                                                    </div>
                                                    <div class="input-field col s2">
                                                        <input id="seceonds" type="number" class="validate" min="0" max="59" value="${secs}">
                                                        <label for="seceonds">Seceonds</label>
                                                    </div>
                                                </div>`;


                    break;
                default:
                    console.log("Error!! Unknown type in MIB.xml parameter type '" + type.toString() + "'");
            }
        }

        body.appendChild(inputContainer);
    }

    function getCurrentDate() {
        let dt = new Date;

        return `${dt.getDate().toString().padStart(2, '0')}/${(dt.getMonth() + 1).toString().padStart(2, '0')}/${
            dt.getFullYear().toString().padStart(4, '0')} ${
            dt.getHours().toString().padStart(2, '0')}:${
            dt.getMinutes().toString().padStart(2, '0')}:${
            dt.getSeconds().toString().padStart(2, '0')}`
    }

    function disableEnableDatetime(checkbox) {
        let datetime = checkbox.parentElement.parentElement.getElementsByClassName("paramsInput")[0];
        const timestamp = checkbox.parentElement.parentElement.getElementsByClassName("row")[0];
        timestamp.hidden = !checkbox.checked;
        $(datetime).prop("disabled", checkbox.checked);
        if (!checkbox.checked)
            datetime.setAttribute("value", encodeDateTime(getCurrentDate()));
    }

    function encodeDateTime(dateTime) {
        let parsed = dateTime.split(" ");
        let time = parsed[1];
        let date = parsed[0].split("/");
        return `${date[2]}-${date[1]}-${date[0]}T${time}`;
    }

    function decodeDateTime(dateTime) {
        //1970-01-02T01:01:01
        let parsed = dateTime.split("T");
        let time = parsed[1];
        let date = parsed[0].split("-");
        return `${date[2]}/${date[1]}/${date[0]} ${time}`;
    }

    function parseJinja(jinja) {
        jinja = jinja.slice(1, -1);
        jinja = jinja.split(',');
        return [parseInt(jinja[0]), parseInt(jinja[1])];
    }

    function generateInputs(type, subtype, packet) {
        st = type;
        sst = subtype;
        clearInputs();
        let params = packet != null ? JSON.parse(packet).Content.Params : {};
        let nameIndex = commandNames.indexOf(dic["(" + type + "," + subtype + ")"]);
        for (var i = 0; i < paramTypes[nameIndex].length; i++) {
            generateInput(paramTypes[nameIndex][i], paramNames[nameIndex][i], paramUnits[nameIndex][i], params[paramNames[nameIndex][i]]);
        }
        generateInput("dateTime", "Execution Time", "sec", packet != null ? JSON.parse(packet).Content.ExecutionTime : "");
    }
    var e = 0;
    // Setup draggable columns
    new Sortable(commandsContainer, {
        group: {
            name: 'shared',
            pull: 'clone',
            put: false // Do not allow items to be put into this list
        },
        animation: 150,
        sort: false, // To disable sorting: set sort to false
        filter: '.commandsTitle',
        onEnd: (evt) => {
            evt.item.setAttribute("inlist", "true");
            e = evt;
        }
    });


    new Sortable(playlistContainer, {
        group: 'shared',
        animation: 150,
        filter: '.commandsTitle',
        onEnd(evt) {
            let target = evt.originalEvent.target;
            let command = evt.item;
            if (playlistContainer !== target && !playlistContainer.contains(target)) {
                command.remove();
            }
        }
    });
    function sendPlaylist() {
        var playlist = document.getElementById("playlistContainer");
        var allCommands = "";
        var i = 0;
        while (i < playlist.children.length && playlist.children[i].getAttribute("value") != "HEADER") {
            i++;
        }
        i++;
        if (playlist.children.length <= i) {
            return;
        }
        for (; i < playlist.children.length - 1; i++) {
            var value = playlist.children[i].getAttribute("value");
            if (value == null) {
                alert("Command " + playlist.children[i].innerText + " is null");
            }
            else {
                value = parseTimestampPacket(value);
                allCommands += value + ",";
            }
        }
        var value = playlist.children[i].getAttribute("value");
        if (value == null) {
            alert("Command " + playlist.children[i].innerText + " is null");
        }
        else if (value == "HEADER") {

        }
        else {
            value = parseTimestampPacket(value);
            allCommands += value;
        }
        alert("All commands:" + allCommands);
        // window.location.assign("?packet=[" + allCommands + "]")
        ajaxSendPacket("?packet=[" + allCommands + "]");
    }

    function emptyPlaylist() {
        let commandList = document.getElementById("playlistContainer");
        commandList.innerHTML = "<div class=\"row commandsTitle\" value=\"HEADER\"><div class=\"column unselectable\">Command</div><div class=\"column unselectable\">Command number</div></div>";
    }

    Date.prototype.addHours = function (h) {
        this.setTime(this.getTime() + (h * 60 * 60 * 1000));
        return this;
    }
    Date.prototype.addMinutes = function (m) {
        this.setTime(this.getTime() + (m * 60 * 1000));
        return this;
    }
    Date.prototype.addSeceonds = function (s) {
        this.setTime(this.getTime() + (s * 1000));
        return this;
    }

    function dateToString(dt) {
        return `${dt.getDate().toString().padStart(2, '0')}/${(dt.getMonth() + 1).toString().padStart(2, '0')}/${
            dt.getFullYear().toString().padStart(4, '0')} ${
            dt.getHours().toString().padStart(2, '0')}:${
            dt.getMinutes().toString().padStart(2, '0')}:${
            dt.getSeconds().toString().padStart(2, '0')}`;
    }

    function parseTimestampPacket(packet) {
        //Timestamp format: TShh:mm:ss
        packet = JSON.parse(packet);
        packet.Content.EndNode = document.getElementById("endnode").value;
        const execTime = packet.Content["ExecutionTime"];
        if (execTime.startsWith("TS")) {
            const timestamp = execTime.slice(2).split(":");
            const hours = parseInt(timestamp[0]);
            const mins = parseInt(timestamp[1]);
            const secs = parseInt(timestamp[2]);
            if (hours == 0 && mins == 0 && secs == 0)
                packet.Content["ExecutionTime"] = '01/01/1970 01:01:01';
            else {
                let date = new Date();
                date.addHours(hours);
                date.addMinutes(mins);
                date.addSeceonds(secs);
                packet.Content["ExecutionTime"] = dateToString(date);
            }
        }
        for (const key in packet.Content["Params"]) {
            const val = packet.Content["Params"][key];
            if (val.search(/TS\d+:\d+:\d+/) !== -1) {
                const timestamp = val.slice(2).split(":");
                const hours = parseInt(timestamp[0]);
                const mins = parseInt(timestamp[1]);
                const secs = parseInt(timestamp[2]);
                if (hours == 0 && mins == 0 && secs == 0)
                    packet.Content["Params"][key] = '01/01/1970 01:01:01';
                else {
                    let date = new Date();
                    date.addHours(hours);
                    date.addMinutes(mins);
                    date.addSeceonds(secs);
                    packet.Content["Params"][key] = dateToString(date);
                }
            }
        }
        return JSON.stringify(packet);
    }

    let playlistIndex = 0;
    let playlistSend = [];

    function sendPlaylistSteps() {
        const playlistContainer = document.getElementById("playlistContainer");
        let isAnEmptyComm = false;
        let emptyCommName;
        const elements = playlistContainer.children;
        playlistSend = [];
        playlistIndex = 0;

        for (const elem of elements) {
            const val = elem.getAttribute("value");
            if (val == null) {
                isAnEmptyComm = true;
                emptyCommName = elem.firstElementChild.innerText;
            }
            else if (val !== "HEADER")
                playlistSend.push({
                    name: elem.firstElementChild.innerText,
                    value: val
                });
        }

        if (isAnEmptyComm) {
            alert(`Command: ${emptyCommName} is null`);
            return;
        }

        if (playlistSend.length !== 0) {
            const head = document.getElementById("modalCommName");
            const info = document.getElementById("modalPacket");

            head.innerHTML = `Command: ${playlistSend[0].name}`;
            info.innerHTML = `Packet:\n${playlistSend[0].value}`;

            const nextButton = document.getElementById("sendNext");
            nextButton.className = "waves-effect waves-green btn-flat";

            const modal = document.getElementById("sendStepsModal");
            M.Modal.getInstance(modal).open();

            ajaxSendPacket("?packet=[" + parseTimestampPacket(playlistSend[0].value) + "]");
        }

        if (playlistIndex === playlistSend.length - 1) {
            const nextButton = document.getElementById("sendNext");
            nextButton.className += " disabled";
        }

    }

    function nextSendStep() {
        playlistIndex++;
        const head = document.getElementById("modalCommName");
        const info = document.getElementById("modalPacket");

        head.innerHTML = `Command: ${playlistSend[playlistIndex].name}`;
        info.innerHTML = `Packet:\n${playlistSend[playlistIndex].value}`;

        ajaxSendPacket("?packet=[" + parseTimestampPacket(playlistSend[playlistIndex].value) + "]");

        if (playlistIndex === playlistSend.length - 1) {
            const nextButton = document.getElementById("sendNext");
            nextButton.className += " disabled";
        }
    }

    function resendStep() {
        ajaxSendPacket("?packet=[" + parseTimestampPacket(playlistSend[playlistIndex].value) + "]");
    }

    function checkForAck() {
        $.ajax({
            type: "GET",
            url: "/getAcks",
            data: {}
        }).done(function (params) {
            const ack = JSON.parse(params);
            if (ack != null) {
                M.toast({
                    html: `Ack received!
                    Command ID: ${ack["commandid"]}
                    Error Type: ${ack["errortype"]}`
                });
            }
        });
    }
    let endNodes = [];
    function getEndNodes() {
        $.ajax({
            type: "GET",
            url: `/getEndNodes`,
            data: {},
        }).done((params) => {
            addEndNodes(params.endNodes);
        });
    }

    function addEndNodes(endnodesArr) {
        endnodesArr = clearEndNodesDuplicates(endnodesArr);
        if (!objectArraysEqual(endnodesArr, endNodes)) {
            const endnodeSelect = document.getElementById("endnode");
            endnodeSelect.innerHTML = "";
            let isCurrEndnodeFound = false;
            for (let i = 0; i < endnodesArr.length; i++) {
                const e = endnodesArr[i];
                const option = document.createElement("option");
                option.innerHTML = e.Name;
                option.value = e.Id;
                endnodeSelect.appendChild(option);
                if (e.Id == selectedEndnode) {
                    endnodeSelect.value = e.Id;
                    isCurrEndnodeFound = true;
                }
            }
            if (!isCurrEndnodeFound) {
                selectedEndnode = endnodeSelect.value;
            }
            endNodes = endnodesArr;
        }

    }

    function clearEndNodesDuplicates(endnodes) {
        for (let i = endnodes.length - 1; i > 0; --i) {
            const en = endnodes[i];
            for (let j = i - 1; j >= 0; --j) {
                const element = endnodes[j];
                if (element.Name === en.Name) {
                    endnodes.splice(j, 1);
                    --i;
                }
            }
        }

        return endnodes;
    }

    function objectArraysEqual(a, b) {
        if (a === b) return true;
        if (a == null || b == null) return false;
        if (a.length != b.length) return false;

        for (let i = 0; i < a.length; ++i) {
            if (!isEquivalentObject(a[i], b[i])) return false;
        }
        return true;
    }

    function isEquivalentObject(a, b) {
        // Create arrays of property names
        var aProps = Object.getOwnPropertyNames(a);
        var bProps = Object.getOwnPropertyNames(b);

        // If number of properties is different,
        // objects are not equivalent
        if (aProps.length != bProps.length) {
            return false;
        }

        for (var i = 0; i < aProps.length; i++) {
            var propName = aProps[i];

            // If values of same property are not equal,
            // objects are not equivalent
            if (a[propName] !== b[propName]) {
                return false;
            }
        }

        // If we made it this far, objects
        // are considered equivalent
        return true;
    }

    setInterval(() => {
        checkForAck();
        getEndNodes();
    }, 1000);
</script>

<div id="sendStepsModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 id="modalCommName"></h4>
        <p id="modalPacket"></p>
    </div>
    <div class="modal-footer">
        <button id="sendNext" onclick="nextSendStep()" class="waves-effect waves-green btn-flat">Send Next</button>
        <button id="resend" onclick="resendStep()" class="waves-effect waves-yellow btn-flat">Resend</button>
        <button class="modal-close waves-effect waves-red btn-flat">Exit</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
    });
</script>

<script>
    var playlist = document.getElementById("playlistContainer");
    var x = "tryhard";
    var config = {
        apiKey: "AIzaSyDQWbidUuP-2zwyCsV9w3ylRnBRi2et_Zk",
        authDomain: "gsc-gui.firebaseapp.com",
        databaseURL: "https://gsc-gui.firebaseio.com",
        storageBucket: "bucket.appspot.com"
    };
    firebase.initializeApp(config);
	
	database = firebase.database();
	
	var options = document.getElementById("playlistNameOptions");
	function loadPlaylists(databaseRef)
	// Database: firebase.database().ref()
	{
		// Get a reference to the database service
		var options = document.getElementById("playlistNameOptions");
		databaseRef.once("value", function (snapshot) {
			snapshot.forEach(function (child) {
				var option = document.createElement("option");
				option.innerHTML = child.key;
				options.appendChild(option);
			})
		});

	}
	loadPlaylists(firebase.database().ref('public'));
	
    function objToString(obj) {
        let str = "";
        for (key in obj) {
            str += `${key}: ${obj[key]}\n`
        }

        return str;
    }

    function parsePlaylistJSON() {
        const json = document.getElementById('playlistJsonInput').value;
        const playlist = JSON.parse(`[${json}]`);
        let commandList = document.getElementById("playlistContainer");
        commandList.innerHTML = "<div class=\"row commandsTitle\" value=\"HEADER\"><div class=\"column unselectable\">Command</div><div class=\"column unselectable\">Command number</div></div>";
        for (let i = 0; i < playlist.length; i++) {
            const command = playlist[i];
            const cmdID = `(${command.Content.ST},${command.Content.SST})`
            const strValue = JSON.stringify(command);
            let newCommand = document.createElement("div");
            newCommand.setAttribute("class", "row");
            newCommand.setAttribute("onclick", "showParams(true); let type = parseJinja('" + cmdID + "');generateInputs(type[0],type[1],this.getAttribute('value'));thisCommand=this;");
            newCommand.setAttribute("id", cmdID);
            newCommand.setAttribute("draggable", "false");
            newCommand.setAttribute("inlist", "true");
            newCommand.setAttribute("value", strValue);
            let newCommandName = document.createElement("div");
            newCommandName.setAttribute("class", "column unselectable");
            if (strValue) {
                params = objToString(command.Content.Params);
                params += `Execution time: ${command.Content.ExecutionTime}`;
                newCommandName.innerHTML = `<abbr title="${params}">${dic[cmdID]}</abbr>`;
            }
            else {
                newCommandName.innerHTML = dic[cmdID];
            }
            var newCommandNumber = document.createElement("div");
            newCommandNumber.setAttribute("class", "column unselectable");
            newCommandNumber.innerHTML = cmdID;
            newCommand.appendChild(newCommandName);
            newCommand.appendChild(newCommandNumber);
            commandList.appendChild(newCommand);
        }
    }

    function getPlaylist(name, root) {

        var playlistPath = database.ref('public/'+name);
        var commandList = document.getElementById("playlistContainer");
        commandList.innerHTML = "<div class=\"row commandsTitle\" value=\"HEADER\"><div class=\"column unselectable\">Command</div><div class=\"column unselectable\">Command number</div></div>";

        playlistPath.once("value", function (snapshot) {
            snapshot.forEach(function (child) {
                console.log(child.key + ": " + child.val());
                child = child.val();
                var newCommand = document.createElement("div");
                newCommand.setAttribute("class", "row");
                newCommand.setAttribute("onclick", "showParams(true); let type = parseJinja('" + child["id"] + "');generateInputs(type[0],type[1],this.getAttribute('value'));thisCommand=this;");
                newCommand.setAttribute("id", child["id"]);
                newCommand.setAttribute("draggable", "false");
                newCommand.setAttribute("inlist", "true");
                newCommand.setAttribute("value", child["value"]);
                var newCommandName = document.createElement("div");
                newCommandName.setAttribute("class", "column unselectable");
                if (child["value"]) {
                    params = objToString(JSON.parse(child["value"]).Content.Params);
                    params += `Execution time: ${JSON.parse(child["value"]).Content.ExecutionTime}`;
                    newCommandName.innerHTML = `<abbr title="${params}">${dic[child["id"]]}</abbr>`;
                }
                else {
                    newCommandName.innerHTML = dic[child["id"]];
                }
                var newCommandNumber = document.createElement("div");
                newCommandNumber.setAttribute("class", "column unselectable");
                newCommandNumber.innerHTML = child["id"];
                newCommand.appendChild(newCommandName);
                newCommand.appendChild(newCommandNumber);
                commandList.appendChild(newCommand);
            });
        });
    }

    function deletePlaylist(name, options) {
        if (!confirm("Are you sure you want to delete '" + name + "' playlist from database?")) {
            return;
        }
        // Remove item from database
        var playlistPath = database.ref('public/'+name);
        playlistPath.remove();
        // Remove item from options
        options.remove();
    }
    function savePlaylist(name, root) {
        console.log("   Name: " + name);
        var playlistPath = database.ref('public/'+name);
        playlistPath.set({});
        var i = 0;
        while (i < root.children.length && root.children[i].getAttribute("value") != "HEADER") {
            i++;
        }
        i++;
        if (root.children.length <= i) {
            return;
        }
        for (; i < root.children.length - 1; i++) {
            var child = root.children[i];
            var id = child.getAttribute("id");
            var value = child.getAttribute("value");
            var json = {};
            json["id"] = id;
            json["value"] = value;
            playlistPath.push(json);
        }
        var child = root.children[i];
        var id = child.getAttribute("id");
        var value = child.getAttribute("value");

        var json = {};
        json["id"] = id;
        json["value"] = value;
        playlistPath.push(json);
        alert("playlist: " + name + " is saved");
    }

    function updatePlaylistNames() {
        var playlistPath = database.ref();
        var commandList = document.getElementById("playlistContainer");
        playlistPath.once("value", function (snapshot) {
            snapshot.forEach(function (child) {
                console.log(child.key + ": " + child.val());
                playlistsNames.push(child.key);

            });
        });
    }

function initUser()
{
	NOT_LOGGED="You are not loggin in. Please <u><a href=\"/login\">login</a></u>";
	LOGGED = "Logged as ";
	LOGOUT = " <u><a onclick=\"logout()\" href=\"/login\">Logout</a><u>";

	userStatus = document.getElementById("userStatus");
	firebase.auth().onAuthStateChanged((user)=>{
		if(user != null)
		{
			if (user.displayName == null)
			{
				userStatus.innerHTML = LOGGED + "Anonymous.";
			}
			else
			{
				userStatus.innerHTML = LOGGED + user.displayName;
				loadPlaylists(firebase.database().ref(user.uid));
			}
			userStatus.innerHTML += LOGOUT;
		}
		else
		{
			userStatus.innerHTML = NOT_LOGGED;
		}
		console.log(user);
	});
}
initUser();
function validateEmail(mail) 
{
 if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
  {
	return (true);
  }
	return (false);
}

function throwError(e)
{
	alert(e);
}

function signIn()
{
	var email = document.getElementById("emailInput").value;
	var password = document.getElementById("passwordInput").value;
	if (validateEmail(email))
	{
		firebase.auth().signInWithEmailAndPassword(email,password).catch(e=>{throwError(e)});
	}
	else
	{
		throwError("email is not valid");
	}
}
function signInAnonymously()
{
	firebase.auth().signInAnonymously();
}
function logout()
{
	firebase.auth().signOut();
}


</script>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
</body>

</html>