<html>

   <head>
        <link rel= "icon" type= "image" href= "{{ url_for('static',filename='icon.png') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='feed.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <meta charset="utf-8">

        <style>
            div.scrollable-div{
                max-height: 600px;
                overflow: auto;
            }
        </style>
   </head>

   <div id="progressBar" class="progress_bar"></div>
   <br />
   <div id="progressBar2" class="progress_bar"></div>

   <body style="height: 100%; margin: 0; background-color: #07244f">

    <br>

    <h1 style="color: aliceblue">Beacon TELEMETRY</h1>
    
    <br>
       
       
       <script type="text/javascript">
           var a = "{{ satParams }}";
           a = JSON.parse(a.split("&#39;").join("\""));

           var order = Object.keys(a);
           
           String.prototype.lpad = function (length) {
               var str = this;
               var missingPad = length - str.length;
               var a = "0";
               return a.repeat(missingPad) + str;
           }



           progressBars = [];
           var progress2 = document.getElementById("progressBar2");
           var fromColor = 13647136; // #d03d20
           var toColor = 65280; // #00ff00
           // Pause the animation for 100 so we can animate from 0 to x%
           progress2.style.background = '#' + fromColor.toString(16).lpad(6);
           function loadBars() {
               setTimeout(
    function () {


        // PHP Version:
        // Set with and color
        var i = 0;
        for (; i < progressBars.length; i++) {
            progressBars[i][0].style.width = progressBars[i][1].toString() + "%";
            progressBars[i][0].style.backgroundColor = '#' + (toColor * (progressBars[i][1] / 100)).toString(16).lpad(6);
        }
    }
  );
           }
    function addBar(bar, min, now, max) {
        progressBars.push([bar, (now / (max - min)) * 1000]); // Mach bar to its complete precentage.
    }
           function addWidget() {
                
           }
    
    function generateTableHead(table, param_Dict, param_order){
        if(Object.keys(param_Dict) < 1){
            return;
        }
        let thead = table.createTHead();
        let row = thead.insertRow();
        let head_exp = param_order
        head_exp = satTimeSeperation(head_exp)
        head_exp.forEach(key => {
            let thead_cell = createHeadCell(row, key)
            $(thead_cell).attr("scope", "col")
        });
        return table
    }

    function satTimeSeperation(head_col){
        let temp = head_col[0]
        let swapIdx = head_col.indexOf("Packet Sat Date Time")
        head_col[0] = head_col[swapIdx]
        head_col[swapIdx] = temp;
        return head_col
    }

    function generateAllTable(table, data, param_order){
        let time_sorted_data = $.extend(true,[],sortByNewestTime(data))
        let tbody  = table.appendChild(document.createElement("tbody"))
        time_sorted_data.forEach(telem_param => {
            let row = tbody.insertRow();
            let headCell = createHeadCell(row, telem_param[1]);
            $(headCell).attr("scope", "row")
            let value_by_time = extractParamFromCSVFiles(telem_param[0], data, param_order)
            value_by_time.splice(param_order.indexOf("Packet Sat Date Time"), 1);
            value_by_time.forEach(param_value => {
                createCell(row, param_value)
            });
        });
        return table
    }
    
    function createCell(row, text){
        let cell = row.insertCell()
        let cell_text = document.createTextNode(text)
        cell.appendChild(cell_text)
    }

    function createHeadCell(row, text){
        let head_cell = document.createElement("th");
        let head_cell_text = document.createTextNode(text);
        head_cell.appendChild(head_cell_text);
        row.appendChild(head_cell);
        return head_cell
    }

    function extractParamFromCSVFiles(file, param_Dict, param_order){
        let param_by_time = []
        param_order.forEach(param_name => {
            let param_from_file = param_Dict[param_name]
            param_by_time.push(param_from_file.find(function(file_param){
                if(file_param[0] == file){
                    return file_param
                }
            })[1])
        });
        return param_by_time
    }

    function dateParser(date_str){
        date_str = date_str.split(" ");
        date = date_str[0].split("/");
        base_str_date = date[2] + "-" + date[1] + "-" + date[0];
        base_hour_str = "T" + date_str[1];
        return new Date(base_str_date + base_hour_str);
    }

    function sortByNewestTime(param_Dict){
        let currnet_date = new Date();
        let sat_time  = param_Dict["Packet Sat Date Time"]
        for (let index = 0; index < sat_time.length - 1; index++) {
            for (let time_index = 0; time_index < sat_time.length - index - 1; time_index++) {
                if(currnet_date - dateParser(sat_time[time_index][1]) > currnet_date - dateParser(sat_time[time_index + 1][1])){
                    let temp = sat_time[time_index];
                    sat_time[time_index] = sat_time[time_index + 1];
                    sat_time[time_index + 1] = temp;
                }
            }    
        }
        return sat_time
    }

    

    function refresh_table(table_params, param_order)
    {
        let table_div = document.getElementById("table-div");
        table_div.innerHTML = "";

        let table = document.createElement("table");
        $(table).addClass("table").addClass("table-hover").addClass("table-dark");

        let telem_table = generateAllTable(table, table_params, param_order);
        table_div.appendChild(telem_table);
    }

            // Convert data, given from python to json.
           var params = JSON.parse('{{satParams}}'.split("&#39;").join('"')); // Split &#39; beacause jinja wrap all data with &#39;.

           addBar(progress2, 0, 0.8, 10);
           loadBars();

           let table_div = document.createElement("div");
           table_div.id = "table-div";
           $(table_div).addClass("scrollable-div");

           let table = document.createElement("table")
           $(table).addClass("table").addClass("table-hover").addClass("table-dark");

           let table_head = document.createElement("table")
           $(table_head).addClass("table").addClass("table-hover").addClass("table-dark");

           let telem_table = generateAllTable(table, a, order);
           table_div.appendChild(telem_table);
           
           document.body.appendChild(generateTableHead(table_head, a, order))
           document.body.appendChild(table_div);

           let interval = setInterval(function(){
            $.ajax({
                    type: "POST",
                    url: "/feed",
                    data: {}
                    }).done(function( params ) {
                        a = params;
                        refresh_table(a, order);
                        });
            }, 1000);
           
       </script>


   </body>
</html>
</html>