<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>
            header,
            main,
            footer {
            padding-left: 315px;
        }

        h1{
            color: whitesmoke;
        }

        ::placeholder{
            color: #fff;
        }
        </style>
    
    </head>
    <body class="indigo darken-1">

        <main>
            <h1 class="center-align">Welcome To GSC-GUI!</h1>
        </main>

        <ul id="slide-out" class="sidenav sidenav-fixed light-blue lighten-3">
                <li class="logo center-align">
                    <img src="/static/logo/logo.png" 
                    class="brand-logo" height="200" width="200">
                </li>
                <li>
                    <div style="margin-left: 30px; margin-right: 30px;" class="input-field">
                        <input id="dump-seacrh" placeholder="st-sst" class="autocomplete">
                        <label for="dump-seacrh" class="active">Dump</label>
                        <a class="waves-effect waves-light btn-small" onclick="searchDump('dump-seacrh')"><i class="material-icons left">search</i> Search Dump</a>
                    </div>
                </li>
                <li onclick="navChange(this)"><a href="/commands">Commands</a></li>
                <li onclick="navChange(this)"><a href="/beacon">Beacons</a></li>
                <li onclick="navChange(this)"><a href="/logs">Logs</a></li>
            </ul>

        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </body>
</html>