<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image" href="{{ url_for('static',filename='icon.png') }}">

        <meta id="logs-dict" data-logs="{{logParams}}">

        <style>
            .scrollable-div{
                max-height: 750px;
                overflow-y: auto;
                margin-bottom: 30px;
            }
        </style>
    </head>
    <body>

            <div class="row">
                <div id="side-bar" class="col-3">
                    
                </div>
                <div id="main-bar" class="col-9">
                    <div id="table-container"></div>
                    <div id="btn-div"></div>
                </div>
            </div>

        <script src="/static/js/table_generator.js"></script>
        <script src="static/js/export_csv.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/js/logs.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </body>
</html>