<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta name="jinBeacon" content="{{ beacon }}" />
    <meta name="jinUnits" content="{{ units }}" />
    <meta name="jinOptions" content="{{ options }}" />
    <script src="/static/js/feed.js"></script>
    <title>Beacons</title>
</head>

<body>
    <h1 class="center-align">Beacons</h1>
    <main id="main"></main>
</body>

</html>