<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/datetimePicker/build/css/bootstrap-datetimepicker.min.css')}}">

<table class="table table-bordered">
  <tr>
    <td>Date</td>
    <div style="position:relative"> <input type='text' class="form-control" id='datetimepicker1'/></div></td>
  </tr>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
<script src="{{ url_for('static', filename='styles/datetimePicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>